// 1. 변수 정의
$primary-color: #3498db;
$secondary-color: #2ecc71;

// 2. 공통 스타일 정의
body {
  font-family: $font-stack;
  background-color: $primary-color;
  color: #fff;
  margin: 0;
  padding: 0;
}

// 3. 중첩 스타일링
nav {
    ul {
      li {
        a {
          text-decoration: none;
          color: color.adjust($secondary-color, $lightness: -10%);
          &:hover {
            color: color.scale($secondary-color, $lightness: -20.4%);
          }
        }
      }
    }
  }

// 4. 믹스인 사용
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.button {
    background-color: $secondary-color;
    &:hover {
      background-color: color.adjust($secondary-color, $lightness: 10%);
    }
  }
